// @mixin dudu($color: red, $border-radius: false ){
//     text-transform: uppercase;
//     font-size: 1.4rem;
//     color: $color;
//     letter-spacing: 1px;
//     background-color: black;

//     @if $border-radius{
//         border-radius: 1rem;
//     }
// }

@mixin phone {
    @media(min-width: $phone){
        @content;
    }
}
@mixin tablet {
    @media(min-width: $tablet){
        @content;
    }
}
@mixin desktop{
    @media(min-width: $desktop){
        @content;
    }
}
@mixin desktop4k{
    @media(min-width: $desktop4k){
        @content;
    }
}
@mixin grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}