
$fuente_principal:'Montserrat',sans-serif;

//colores 
$verde: rgb(40, 217, 233); 
$rosado: #fa637c;
$Amarillo: #f5d237;
$morado: #725F97;
$negro: #00000000;
$blanco:  #ffff;



$phone: 390px;
$tablet: 768px;
$desktop: 900px;
$desktop4k: 1200px;