.video{
    position: relative;
    max-height: 60rem;
    overflow: hidden;

    .overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(2,0,36);
        background: linear-gradient(270deg, rgba(2,0,36,0.3) 0%, rgba(237,5,8,0.3) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    video{
        width: 100%;
        display: block;
    }

}
.contenido-video{
    z-index: 1;
    h2{
        color: $blanco;
        font-size: 4rem;
        margin: 0;
        @include tablet {
            font-size: 7rem;
        }
    }
    p{
        background-color: $rosado;
        color: $blanco;
        display: inline-block;
        padding: 0.5rem 0.5rem;
        font-weight: 500;
        font-size: 1.5rem;
        @include tablet {
            font-weight: 600;
            padding: 1rem 2rem;
            font-size: 2.5rem;
        }
    }
}
